/Q_11_Arthmetic.class
/Q_12_SMarks.class
/Q_13_EvenOrOdd.class
/Q_14_SumOf_EvenOdd.class
/Q_15_PositiveNegative.class
/Q_16_LargestNumber.class
/Q_17_SwapNumbers.class
/Q_18_DivisibleByFive.class
/Q_19_TwoNumEqual.class
/Q_20_SumOfDigits.class
/Q_22_ExtractDigits.class
/Q_23_IncreDigitByOne.class
/Q_24_Calculator.class
/Q_26_MultiplicationTables.class
/Q_27_GradeMarks.class
/Q_28_SumOfDigits.class
/Q_29_SumOfNumberRecursion.class
/Q_30_SumOfEvenOddArray.class
