/Area_of_circle.class
/Area_of_rectangle.class
/Armstrong_number.class
/Array_NoOfOccurance.class
/Array_SumOfValues.class
/Array_index_search.class
/Array_max_min.class
/Array_sum_avg.class
/Calculator_switch_case.class
/Divisible_by_five.class
/Electricity_bill.class
/Employee_data.class
/Employeee.class
/Even_odd.class
/Leap_year.class
/Multiplication_tables.class
/Name_age.class
/NestedLoop_lv3.class
/Palindrome_number.class
/Palindrome_number_within_range.class
/Perfect_number.class
/Prime_number.class
/Prime_using_brake.class
/Print_even_number.class
/Reverse_of_the_number.class
/SInpleIntrest_method.class
/Seasons_months.class
/Simple_Intrest.class
/Star_parttern.class
/Student_Marks.class
/Student_name_print_marks.class
/Sum_of_numbers.class
/Swapping_Without_Temp.class
/Swapping_intergers_using_temp.class
/Variable_Employe.class
/While_Loop_step_value.class
